.trade {
  max-width: 628px;
  width: 100%;
  margin: 0 auto;
  padding-right: 64px;
  padding-left: 64px; }
  .trade .tabs__link {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  @media (max-width: 767.98px) {
    .trade {
      padding-right: 16px;
      padding-left: 16px; } }

.trade__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px; }
  .trade__header .box-left {
    max-width: 70%; }
    @media (max-width: 575.98px) {
      .trade__header .box-left {
        max-width: 60%; } }
  .trade__header .box-right > a + a {
    margin-left: 16px; }
  @media (max-width: 767.98px) {
    .trade__header {
      padding: 16px; } }

.trade__title {
  font-size: 1.2rem; }

.trade__desc {
  color: #c9c9d8;
  font-size: 0.77rem;
  margin-top: 8px; }

.trade__body {
  padding: 24px; }
  @media (max-width: 767.98px) {
    .trade__body {
      padding: 16px; } }

.trade__footer {
  padding: 24px; }
  @media (max-width: 767.98px) {
    .trade__footer {
      padding: 16px; } }

.exchange__item label {
  margin-bottom: 16px; }

.exchange__reverse {
  display: flex;
  justify-content: center;
  margin: 16px 0; }
  @media (max-width: 767.98px) {
    .exchange__reverse {
      margin: 8px 0; } }
