.banner__container {
  position: relative;
  padding: 80px 64px;
  border-radius: 24px;
  overflow: hidden;
  background-image: url(../images/background_banner.png);
  background-size: cover; }
  @media (max-width: 1024.98px) {
    .banner__container {
      padding: 64px 24px; } }
  @media (max-width: 575.98px) {
    .banner__container {
      border-radius: 16px; } }

.banner__wrap {
  max-width: 80%; }

.banner__title {
  font-size: 2.4rem;
  margin-bottom: 4px; }
  @media (max-width: 575.98px) {
    .banner__title {
      font-size: 1.6rem; } }

@media (max-width: 575.98px) {
  .banner__text {
    font-size: 0.77rem; } }

@keyframes slidein {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

.banner_preview {
  position: absolute;
  top: 16px;
  right: 0;
  font-size: 0;
  height: calc(100% - 16px);
  animation: slidein 3s infinite;
  animation-direction: alternate; }
  .banner_preview img {
    height: 100%;
    width: auto; }

.item__wallet {
  padding: 24px;
  background-color: #200040;
  border-radius: 24px;
  border: 2px solid #7e2fff; }
  .item__wallet .input-group {
    margin-top: 24px; }
  @media (max-width: 1024.98px) {
    .item__wallet {
      margin-bottom: 24px; } }
  @media (max-width: 767.98px) {
    .item__wallet {
      padding: 16px;
      border-radius: 16px;
      margin-bottom: 16px; } }

.wallet__name {
  font-size: 1.2rem; }

.wallet__description {
  margin-top: 4px; }

.wallet__buttons {
  margin-top: 24px; }

.wallet_asset_table__wrapper {
  margin-top: 56px; }
  .wallet_asset_table__wrapper .activity__sorting {
    margin-bottom: 24px; }

.wallet_asset_table__title {
  font-size: 1.2rem;
  margin-bottom: 16px; }

.table-wallet-asset {
  border-radius: 24px; }
  .table-wallet-asset .asset__item {
    display: inline-flex;
    align-items: center; }
  .table-wallet-asset .asset__logo {
    width: 32px;
    height: 32px;
    margin-right: 16px; }
