.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	flex-shrink: 0;
	width: $width-aside;
	height: 100vh;
	padding: $height-sidebar-top 0 $height-sidebar-bottom;
	border-right: 1px solid
		darken(
			$color: map-get($map: $theme-colors, $key: gray-border),
			$amount: 5%
		);
	background-color: map-get($map: $theme-colors, $key: neutral-background);
	@media (max-width: 1024.98px) {
		width: $width-aside-mobile;
		padding: 24px 0 $height-sidebar-bottom;
	}
}

.sidebar__top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	height: $height-sidebar-top;
	@media (max-width: 1024.98px) {
		display: none;
	}
}

.sidebar__bottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	height: $height-sidebar-bottom;
	padding: 0 20px;
	border-top: 1px solid
		darken(
			$color: map-get($map: $theme-colors, $key: gray-border),
			$amount: 5%
		);
	@media (max-width: 1024.98px) {
		padding: 0 8px;
		height: $height-sidebar-bottom-mobile;
	}
}

.sidebar__wrapper {
	max-height: 100%;
	padding: 0 20px 30px;
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	@media (max-width: 1024.98px) {
		padding: 0 4px 16px;
	}
}

.sidebar__list {
	margin-bottom: 20px;
}

.sidebar__group {
	&:not(:last-child) {
		position: relative;
		margin-bottom: 32px;
		padding-bottom: 32px;
		&::before {
			content: "";
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 0;
			height: 1px;
			background: darken(
				$color: map-get($map: $theme-colors, $key: gray-border),
				$amount: 5%
			);
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 24px;
			padding-bottom: 24px;
			&::before {
				left: 8px;
				right: 8px;
			}
		}
		@media (max-width: 575.98px) {
			margin-bottom: 8px;
			padding-bottom: 8px;
		}
	}
}

.sidebar__caption {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.33333;
	margin-bottom: 16px;
	padding-left: 20px;
	color: map-get($map: $theme-colors, $key: disable);
	@media (max-width: 1024.98px) {
		display: none;
	}
}

.sidebar__item {
	display: flex;
	align-items: center;
	height: 56px;
	padding: 0 20px;
	border-radius: 12px;
	background: transparent;
	font-size: 14px;
	font-weight: 600;
	color: map-get($map: $theme-colors, $key: disable);
	&.active {
		color: map-get($map: $theme-colors, $key: neutral-white);
		background-color: map-get($map: $theme-colors, $key: primary);
	}
	&:hover {
		color: map-get($map: $theme-colors, $key: neutral-white);
	}
	@media (max-width: 1024.98px) {
		padding: 0 4px;
		height: 44px;
		width: 44px;
		margin: 0 auto;
		text-align: center;
		border-radius: 8px;
	}
}

.sidebar__icon {
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	margin-right: 16px;
	@media (max-width: 1024.98px) {
		margin-right: auto;
		margin-left: auto;
	}
}

.sidebar__text {
	@media (max-width: 1024.98px) {
		display: none;
	}
}

.sidebar__profile {
	width: 100%;
}

.sidebar__user {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: map-get($map: $theme-colors, $key: neutral-white);
	cursor: pointer;
}

.sidebar__avatar {
	-ms-flex: 0 0 40px;
	flex: 0 0 40px;
	max-width: 40px;
	height: 40px;
	img {
		width: 100%;
		min-height: 100%;
		border-radius: 50%;
	}
}

.sidebar__desc {
	-ms-flex: 0 0 calc(100% - 40px);
	flex: 0 0 calc(100% - 40px);
	max-width: calc(100% - 40px);
	padding-left: 16px;
	@media (max-width: 1024.98px) {
		display: none;
	}
}

.sidebar__name {
	display: block;
	color: map-get($map: $theme-colors, $key: neutral-white);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 600;
	padding: 8px;
	border-radius: 8px;
	background-color: map-get(
		$map: $theme-colors,
		$key: neutral-background-lighter
	);
}
