.bt {
	display: inline-flex;
	align-items: center;
	position: relative;
	text-align: center;
	font-weight: 500;
	transition: map-get($map: $theme-transition, $key: all);
	height: 32px;
	border-radius: 8px;
	padding-left: 16px;
	padding-right: 16px;
	span {
		~ i {
			margin-left: 4px;
		}
	}
	i {
		font-size: 1.4rem;
		line-height: 1;
	}
	&.cl-primary {
		color: map-get($map: $theme-colors, $key: primary);
		&:hover {
			color: lighten(
				$color: map-get($map: $theme-colors, $key: primary),
				$amount: 10%
			);
		}
	}
	&.secondary {
		color: map-get($map: $theme-colors, $key: neutral-white);
		background-color: map-get($map: $theme-colors, $key: secondary);
		&:hover {
			background-color: darken(
				$color: map-get($map: $theme-colors, $key: secondary),
				$amount: 10%
			);
		}
	}
	&.primary {
		color: map-get($map: $theme-colors, $key: neutral-white);
		background-color: map-get($map: $theme-colors, $key: primary);
		&:hover {
			background-color: darken(
				$color: map-get($map: $theme-colors, $key: primary),
				$amount: 10%
			);
		}
	}
	&.neutral-background {
		color: map-get($map: $theme-colors, $key: neutral-white);
		background-color: map-get(
			$map: $theme-colors,
			$key: neutral-background
		);
		&:hover {
			background-color: darken(
				$color: map-get($map: $theme-colors, $key: neutral-background),
				$amount: 5%
			);
		}
	}
	&.bt-lg {
		height: 48px;
		padding-left: 24px;
		padding-right: 24px;
		border-radius: 24px;
		span {
			~ i {
				margin-left: 16px;
			}
		}
	}
	&.bt-block {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	&.bt-see-more {
		color: rgba(
			$color: map-get($map: $theme-colors, $key: neutral-white),
			$alpha: 0.5
		);
		background-color: rgba(
			$color: map-get($map: $theme-colors, $key: neutral-background),
			$alpha: 0.3
		);
		&:hover {
			color: rgba(
				$color: map-get($map: $theme-colors, $key: neutral-white),
				$alpha: 0.8
			);
			background-color: rgba(
				$color: map-get($map: $theme-colors, $key: neutral-background),
				$alpha: 0.8
			);
		}
	}
	&[disable] {
		cursor: not-allowed;
		color: map-get($map: $theme-colors, $key: disable);
		background-color: darken(
			$color: map-get($map: $theme-colors, $key: disable),
			$amount: 15%
		);
		&:hover {
			color: map-get($map: $theme-colors, $key: disable);
			background-color: darken(
				$color: map-get($map: $theme-colors, $key: disable),
				$amount: 15%
			);
		}
	}
}

.bt-group {
	.bt {
		border-radius: 0;
		&:first-child {
			border-top-left-radius: 16px;
			border-bottom-left-radius: 16px;
		}
		&:last-child {
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;
		}
	}
}

.bt-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	transition: map-get($map: $theme-transition, $key: all);
	&.primary {
		color: map-get($map: $theme-colors, $key: neutral-white);
		background-color: map-get($map: $theme-colors, $key: primary);
		&:hover {
			background-color: darken(
				$color: map-get($map: $theme-colors, $key: primary),
				$amount: 10%
			);
		}
	}
	&.secondary {
		color: map-get($map: $theme-colors, $key: neutral-white);
		background-color: map-get($map: $theme-colors, $key: secondary);
		&:hover {
			background-color: darken(
				$color: map-get($map: $theme-colors, $key: secondary),
				$amount: 10%
			);
		}
	}
	&:hover {
		box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.3);
	}
}

.bt-pushable {
	display: inline-flex;
	background-color: darken(
		$color: map-get($map: $theme-colors, $key: secondary),
		$amount: 20%
	);
	border-radius: 8px;
	border: none;
	padding: 0;
	cursor: pointer;
	.front {
		display: block;
		padding: 8px 16px;
		border-radius: 8px;
		background-color: map-get($map: $theme-colors, $key: secondary);
		color: map-get($map: $theme-colors, $key: neutral-white);
		will-change: transform;
		transition: transform 250ms;
		transform: translateY(-4px);
	}
	&:hover {
		.front {
			transform: translateY(-6px);
		}
	}
	&:active {
		.front {
			transform: translateY(-2px);
		}
	}
}
