.form-control {
	color: map-get($map: $theme-colors, $key: neutral-white);
	background-color: map-get($map: $theme-colors, $key: neutral-background);
	box-shadow: unset;
	border: 1px solid map-get($map: $theme-colors, $key: gray-border);
	padding: 0 16px;
	height: 48px;
	width: 100%;
	border-radius: 24px;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
	color: map-get($map: $theme-colors, $key: danger);
	border-color: map-get($map: $theme-colors, $key: danger);
	&::placeholder {
		color: map-get($map: $theme-colors, $key: danger);
	}
}

.invalid-feedback {
	color: map-get($map: $theme-colors, $key: danger);
	font-weight: 600;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control {
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0;
}

.input-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.input-group-append {
	padding-left: 8px;
	.bt-circle {
		+ .bt-circle {
			margin-left: 8px;
		}
	}
}
