.navigation {
	height: $height-nav;
	background-color: map-get($map: $theme-colors, $key: neutral-background);
	.box__right {
		margin-left: auto;
	}
	@media (max-width: 1024.98px) {
		height: $height-nav-mobile;
	}
}

.navigation__row {
	display: flex;
	height: 100%;
	align-items: center;
}

.navigation__user {
	display: grid;
	grid-template-columns: 1fr 48px;
	align-items: center;
	margin-left: auto;
	grid-gap: 16px;
}

.navigation__avatar {
	width: 48px;
	height: 48px;
	img {
		width: 100%;
		min-height: 100%;
		border-radius: 50%;
	}
}

.your_wallet {
	display: flex;
	align-items: center;
	color: map-get($map: $theme-colors, $key: neutral-white);
	padding: 0 16px;
	height: 48px;
	border-radius: 24px;
	background-color: rgba(
		$color: map-get($map: $theme-colors, $key: primary),
		$alpha: 0.2
	);
	max-width: 150px;
	span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 600;
	}
}
