.table-custom-wrapper {
	border-radius: 24px;
	overflow: hidden;
	border: 2px solid map-get($map: $theme-colors, $key: primary);
}

.table-custom {
	width: 100%;
	border-spacing: 0;
	vertical-align: middle;
	tr {
		&:last-child {
			td {
				&:first-child {
					border-bottom-left-radius: 24px;
				}
			}
			td {
				&:last-child {
					border-bottom-right-radius: 24px;
				}
			}
		}
	}
	thead {
		tr {
			display: block;
			background-color: map-get(
				$map: $theme-colors,
				$key: neutral-background-lighter
			);
		}
		th {
			height: 56px;
			font-size: 0.66rem;
			font-weight: 600;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: map-get($map: $theme-colors, $key: secondary);
			padding-left: 16px;
		}
	}
	tbody {
		tr {
			display: block;
			&:nth-child(2n) {
				background-color: map-get(
					$map: $theme-colors,
					$key: neutral-background-lighter
				);
			}
		}
	}
	td {
		height: 72px;
		font-size: 0.77rem;
		padding-left: 16px;
	}
}
