.bt {
	display: inline-flex;
	align-items: center;
	position: relative;
	text-align: center;
	font-weight: 500;
	transition: map-get($map: $theme-transition, $key: all);
	span {
		~ i {
			margin-left: 4px;
		}
	}
	i {
		font-size: 1.4rem;
		line-height: 1;
	}
	&.cl-primary {
		color: map-get($map: $theme-colors, $key: primary);
		&:hover {
			color: lighten(
				$color: map-get($map: $theme-colors, $key: primary),
				$amount: 10%
			);
		}
	}
	&.secondary {
		color: map-get($map: $theme-colors, $key: neutral-white);
		background-color: map-get($map: $theme-colors, $key: secondary);
		&:hover {
			background-color: darken(
				$color: map-get($map: $theme-colors, $key: secondary),
				$amount: 10%
			);
		}
	}
	&.primary {
		color: map-get($map: $theme-colors, $key: neutral-white);
		background-color: map-get($map: $theme-colors, $key: primary);
	}
	&.bt-lg {
		height: 48px;
		padding: 0 24px;
		border-radius: 24px;
	}
	&.bt-block {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	&[disable] {
		cursor: not-allowed;
		color: map-get($map: $theme-colors, $key: disable);
		background-color: darken(
			$color: map-get($map: $theme-colors, $key: disable),
			$amount: 15%
		);
	}
}

.badge {
	font-size: 80%;
	display: inline-block;
	padding: 6px 12px;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10rem;
	border: 1px solid transparent;
	> i {
		margin-right: 4px;
	}
	&.primary {
		background-color: map-get($map: $theme-colors, $key: primary);
	}
	&.outline {
		background-color: transparent;
		&.primary {
			color: lighten(
				$color: map-get($map: $theme-colors, $key: primary),
				$amount: 10%
			);
			border-color: lighten(
				$color: map-get($map: $theme-colors, $key: primary),
				$amount: 10%
			);
		}
	}
	@media (max-width: 1439.98px) {
	}
}

.bt-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	text-align: center;
	color: map-get($map: $theme-colors, $key: neutral-white);
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	> i {
		font-size: 1.3rem;
	}
	&:hover {
		box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.3);
	}
}

.bt-pushable {
	display: inline-flex;
	background-color: darken(
		$color: map-get($map: $theme-colors, $key: secondary),
		$amount: 20%
	);
	border-radius: 8px;
	border: none;
	padding: 0;
	cursor: pointer;
	.front {
		display: block;
		padding: 8px 16px;
		border-radius: 8px;
		background-color: map-get($map: $theme-colors, $key: secondary);
		color: map-get($map: $theme-colors, $key: neutral-white);
		will-change: transform;
		transition: transform 250ms;
		transform: translateY(-4px);
	}
	&:hover {
		.front {
			transform: translateY(-6px);
		}
	}
	&:active {
		.front {
			transform: translateY(-2px);
		}
	}
}
