@import "_banner";

.farming__item {
	position: relative;
	background: map-get($map: $theme-colors, $key: neutral-background-lighter);
	padding: 24px;
	border-radius: 24px;
	margin-bottom: 36px;
}

.farming__header {
	display: flex;
	justify-content: space-between;
}

.farming__character {
	width: 64px;
	height: 64px;
	overflow: hidden;
}

.character__name {
	font-size: 1.2rem;
	margin-bottom: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
}

.character__information {
	max-width: calc(100% - 64px);
	padding-left: 16px;
	ul {
		text-align: right;
		li {
			+ li {
				margin-left: 4px;
			}
		}
	}
}

.farming__body {
	> .flex-between-alc {
		margin-top: 16px;
		+ .flex-between-alc {
			margin-top: 8px;
		}
	}
	.block {
		h2 {
			color: map-get($map: $theme-colors, $key: disable);
		}
		&:last-child {
			span {
				font-weight: 600;
			}
			> i {
				margin-right: 4px;
			}
		}
	}
}

.farming__action {
	margin-top: 16px;
	.txt {
		span {
			font-size: 0.66rem;
			font-weight: 600;
			+ span {
				margin-left: 4px;
			}
		}
	}
	> .flex-between-alc {
		margin-top: 8px;
	}
}
