@import "_varivable";
@import "_banner";

.farms {
	[class*="col-"] {
		margin-bottom: 36px;
		@media (max-width: 767.98px) {
			margin-bottom: 16px;
		}
	}
}

.farm__item {
	position: relative;
	background: map-get($map: $theme-colors, $key: neutral-background-lighter);
	padding: 24px;
	border-radius: 24px;
	height: 100%;
	border: 2px solid
		lighten(
			$color: map-get($map: $theme-colors, $key: primary),
			$amount: 10%
		);
	@media (max-width: 767.98px) {
		padding: 16px;
		border-radius: 16px;
	}
}

.farm__header {
	display: flex;
	justify-content: space-between;
}

.farm__character {
	width: 64px;
	height: 64px;
	overflow: hidden;
	@media (max-width: 350.98px) {
		-ms-flex: 0 0 64px;
		flex: 0 0 64px;
		max-width: 64px;
	}
}

.character__name {
	font-size: 1.2rem;
	margin-bottom: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
	@media (max-width: 350.98px) {
		text-align: left;
	}
}

.character__information {
	max-width: calc(100% - 64px);
	ul {
		text-align: right;
		li {
			+ li {
				margin-left: 4px;
			}
		}
	}
}

.farm__body {
	> .flex-between-alc {
		margin-top: 16px;
		+ .flex-between-alc {
			margin-top: 8px;
		}
	}
	.block {
		h2 {
			color: map-get($map: $theme-colors, $key: secondary);
		}
		small {
			color: map-get($map: $theme-colors, $key: secondary);
			display: inline-block;
			margin-top: 4px;
			font-weight: 600;
		}
		&:last-child {
			span {
				font-weight: 600;
			}
			> i {
				margin-right: 4px;
			}
		}
	}
}

.farm__action {
	margin-top: 16px;
	.txt {
		span {
			font-size: 0.66rem;
			font-weight: 600;
			+ span {
				margin-left: 4px;
			}
		}
	}
	> .flex-between-alc {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.action_buttons {
		margin-top: 24px;
	}
	.bt-circle {
		+ .bt-circle {
			margin-left: 4px;
		}
	}
}

.farm__footer {
	margin-top: 24px;
	padding-top: 24px;
	border-top: 1px solid map-get($map: $theme-colors, $key: gray-border);
}
