@import "_varivable";
@import "_trade";

.liquidity__note {
	text-align: center;
	padding: 32px 16px;
	border-radius: 8px;
	background-color: rgba(
		$color: map-get($map: $theme-colors, $key: primary),
		$alpha: 0.2
	);
}
