@import "_varivable";
@import "_trade";

.liquidity__note {
	color: map-get($map: $theme-colors, $key: disable);
	text-align: center;
	padding: 32px 16px;
	border-radius: 8px;
	background-color: map-get(
		$map: $theme-colors,
		$key: neutral-background-dark
	);
}
