@import "_banner";

.warriors {
	[class*="col-"] {
		margin-bottom: 36px;
		@media (max-width: 767.98px) {
			margin-bottom: 16px;
		}
	}
}

.call-to-action-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 24px;
	.bt {
		+ .bt {
			margin-left: 16px;
		}
	}
	@media (max-width: 767.98px) {
		justify-content: flex-start;
		margin-bottom: 16px;
	}
}

.warrior__item {
	background-color: map-get(
		$map: $theme-colors,
		$key: neutral-background-lighter
	);
	border-radius: 16px;
	overflow: hidden;
	height: 100%;
	border: 2px solid map-get($map: $theme-colors, $key: secondary-highlight);
	&:hover {
		.warrior__character {
			&:after {
				opacity: 1;
				top: -30%;
				left: -30%;
			}
		}
	}
}

.warrior__character {
	position: relative;
	overflow: hidden;
	padding: 24px;
	@media (max-width: 767.98px) {
		padding: 16px;
	}
	&:after {
		content: "";
		position: absolute;
		pointer-events: none;
		top: -110%;
		left: -210%;
		width: 200%;
		height: 200%;
		opacity: 0;
		background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.13) 0%,
			rgba(255, 255, 255, 0.13) 77%,
			rgba(255, 255, 255, 0.5) 92%,
			rgba(255, 255, 255, 0) 100%
		);
		transition-property: left, top, opacity;
		transition-duration: 1s, 1s, 0.15s;
		transition-timing-function: ease;
	}
}

.warrior__information {
	border-top: 1px solid
		rgba($color: map-get($map: $theme-colors, $key: primary), $alpha: 0.2);
	padding: 16px 24px;
	.box-row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}
	.box-left {
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		max-width: 40%;
		padding-right: 10px;
		padding-left: 10px;
	}
	.box-right {
		-ms-flex: 0 0 60%;
		flex: 0 0 60%;
		max-width: 60%;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 0.77rem;
		.flex-between-alc {
			+ .flex-between-alc {
				margin-top: 8px;
			}
		}
	}
	@media (max-width: 767.98px) {
		padding: 16px;
	}
}

.warrior__character {
	img {
		position: relative;
		display: block;
		margin: 0 auto;
		width: auto;
	}
}

.warrior__name {
	margin-bottom: 4px;
}

.warrior__id {
	display: inline-block;
	font-size: 0.77rem;
	margin-bottom: 8px;
}

.warrior__actions {
	padding: 16px 24px;
	display: flex;
	justify-content: center;
	border-top: 1px solid
		rgba($color: map-get($map: $theme-colors, $key: primary), $alpha: 0.2);
	@media (max-width: 767.98px) {
		padding: 16px;
	}
}
