aside.sidebar
	.sidebar__top
		a(href="index.html").sidebar__logo
			img(src="./images/logo.png", alt="defi-logo")
	.sidebar__wrapper
		.sidebar__list
			.sidebar__group
				.sidebar__caption
					span Dashboard
				.sidebar__menu
					a(href="index.html").sidebar__item.active
						.sidebar__icon
							i.far.fa-warehouse-alt
						.sidebar__text Farms
					a(href="warriors.html").sidebar__item
						.sidebar__icon
							i.fas.fa-sword
						.sidebar__text My Warrior
					a(href="#").sidebar__item
						.sidebar__icon
							i.fas.fa-users-crown
						.sidebar__text Comunities
					a(href="#").sidebar__item
						.sidebar__icon
							i.far.fa-sparkles
						.sidebar__text News
					a(href="#").sidebar__item
						.sidebar__icon
							i.far.fa-question-circle
						.sidebar__text Help
			.sidebar__group
				.sidebar__caption
					span Trade
				.sidebar__menu
					a(href="wallet-asset.html").sidebar__item
						.sidebar__icon
							i.fad.fa-wallet
						.sidebar__text Wallet & Asset
					a(href="#").sidebar__item
						.sidebar__icon
							i.fad.fa-sync
						.sidebar__text Exchange
					a(href="#").sidebar__item
						.sidebar__icon
							i.fad.fa-dollar-sign
						.sidebar__text Liquidity Pool
					a(href="#").sidebar__item
						.sidebar__icon
							i.fad.fa-shopping-cart
						.sidebar__text Buy Gem
					a(href="#").sidebar__item
						.sidebar__icon
							i.far.fa-question-circle
						.sidebar__text Help
	.sidebar__bottom
		.sidebar__profile
			.sidebar__user
				// Radio Image: 40x40
				.sidebar__avatar
					img(src="./images/avatar_default.png", alt="USER")
				.sidebar__desc
					a.bt-pushable(popup-to="defi_wallet_connect_popup" href="javascript:;")
						span.front Connect Wallet
					a.sidebar__name(href="javascript:;" style="display:none") 0xb3a3c602d1654393ab22ef598868f3bf