aside.sidebar
	.sidebar__top
		a(href="index.html").sidebar__logo.pos-demo
			img(src="./images/logo.png", alt="defi-logo")
		.sildebar__button
			i.fad.fa-indent
	.sidebar__wrapper
		.sidebar__list
			.sidebar__group
				.sidebar__caption
					span Dashboard
					i.fad.fa-chevron-down
				.sidebar__menu
					a(href="index.html").sidebar__item.active
						.sidebar__icon
							i.fad.fa-chart-pie-alt
						.sidebar__text Overview
				.sidebar__menu
					a(href="farms.html").sidebar__item
						.sidebar__icon
							i.far.fa-warehouse-alt
						.sidebar__text Farms
					a(href="warriors.html").sidebar__item
						.sidebar__icon
							i.fas.fa-sword
						.sidebar__text My Warrior
					a(href="#").sidebar__item
						.sidebar__icon
							i.fas.fa-users-crown
						.sidebar__text Comunities
					a(href="#").sidebar__item
						.sidebar__icon
							i.far.fa-sparkles
						.sidebar__text News
					a(href="#").sidebar__item
						.sidebar__icon
							i.far.fa-question-circle
						.sidebar__text Help
			.sidebar__group
				.sidebar__caption
					span Trade
					i.fad.fa-chevron-down
				.sidebar__menu
					a(href="wallet_asset.html").sidebar__item
						.sidebar__icon
							i.fad.fa-wallet
						.sidebar__text Wallet & Asset
					a(href="exchange.html").sidebar__item
						.sidebar__icon
							i.fad.fa-sync
						.sidebar__text Exchange
					a(href="liquidity.html").sidebar__item
						.sidebar__icon
							i.fad.fa-dollar-sign
						.sidebar__text Liquidity Pool
					a(href="buy_warrior.html").sidebar__item
						.sidebar__icon
							i.fad.fa-hammer-war
						.sidebar__text Buy Warrior
					a(href="#").sidebar__item
						.sidebar__icon
							i.fad.fa-shopping-cart
						.sidebar__text Buy Gem
					a(href="#").sidebar__item
						.sidebar__icon
							i.far.fa-question-circle
						.sidebar__text Help
	.sidebar__bottom