aside.sidebar
	.sidebar__top
		a(href="#").sidebar__logo
			img(src="./images/logo.png", alt="defi-logo")
	.sidebar__wrapper
		.sidebar__group
			.sidebar__menu
				a(href="#").sidebar__item.active
					.sidebar__icon
						i.fas.fa-warehouse-alt
					.sidebar__text Farming
				a(href="#").sidebar__item
					.sidebar__icon
						i.fas.fa-sword
					.sidebar__text My Warrior
				a(href="#").sidebar__item
					.sidebar__icon
						i.fas.fa-warehouse-alt
					.sidebar__text Comunities
				a(href="#").sidebar__item
					.sidebar__icon
						i.fas.fa-warehouse-alt
					.sidebar__text News
				a(href="#").sidebar__item
					.sidebar__icon
						i.fas.fa-warehouse-alt
					.sidebar__text Help