block var

<!DOCTYPE html>
html(lang="en")
	head
		// *** META *** //
		include meta
		// *** VENDORS CSS *** //
		link(rel="stylesheet", href="./vendors/fancybox/jquery.fancybox.css")
		block library-css
		// *** CSS *** //
		include css
		block css
		// *** FAVICON *** //
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		// *** TITLE *** //
		title #{pageTitle}
	body
		.page
			// *** ASIDE *** //
			block aside
				include aside
			// *** ASIDE *** //
			.page__content
				// *** NAV *** //
				block nav
					include nav
				// *** MAIN *** //
				main
					block main
					// *** PAGE NAME *** //
					#page-verify(data-class=`${bodyClass}`)
					// *** POPUP WALLET CONNECT POPOP *** //
					include ../components/wallet_connect_popup
					// *** POPUP STAKE LP TOKENS POPOP *** //
					include ../components/stake_lp_tokens_popup
					// *** POPUP UNSTAKE LP TOKENS POPOP *** //
					include ../components/unstake_lp_tokens_popup
					// *** POPUP SELECT A TOKEN *** //
					include ../components/select_token_popup
					// *** POPUP SELECT A LIQUIDITY *** //
					include ../components/select_liquidity_popup
					// *** POPUP CONFIRM SWAP *** //
					include ../components/confirm_swap_popup
					// *** POPUP CONFIRM SWAP LOADING *** //
					include ../components/confirm_swap_popup_loading
					// *** POPUP CONFIRM SWAP REJECT *** //
					include ../components/confirm_swap_popup_reject
					// *** POPUP CONFIRM BUY GEM *** //
					include ../components/confirm_buy_gem_popup
					// *** POPUP CONFIRM LIQUIDITY *** //
					include ../components/confirm_liquidity_popup
		// *** OVERLAY *** //
		#overlay
		// *** FOOTER *** //
		block footer
			include footer
		// *** VENDORS JS *** //
		script(src="./vendors/jquery/jquery.js")
		script(src="./vendors/fancybox/jquery.fancybox.js")
		script(src="./vendors/notify/notify.js")
		block library-js
		// *** JS *** //
		block js
		include js