nav.navigation
	.container.h-100
		.navigation__row
			.box__left
				a(href="index.html").navigation__logo
					img(src="./images/logo.png", alt="defi-logo")
			.box__right
				a.bt-pushable(href="#")
					span.front Connect Wallet