extends ../layouts/layout

block var
	- bodyClass = "farm-page"
	- pageTitle = "Farms | Defi x NFT"
block library-css
block css
	link(rel="stylesheet", href="./css/farms.css")
block library-js
block js
block main
	// *** SECTION BANNER *** //
	include ../components/banner
	// *** SECTION FARMS *** //
	section.farms
		.container
			.row
				.col-xl-4.col-sm-6
					.farm__item
						.farm__header
							.farm__character
								// Radio Image: 64x64
								img(src="./images/character_farm.png", alt="CHARACTER-DEFI")
							.character__information
								h4.character__name FiWA - BTC
								ul
									li.badge.primary
										span 40X
						.farm__body
							.flex-between-alc
								.block
									span APR:
								.block
									i.fas.fa-calculator-alt
									span 59.67%
							.flex-between-alc
								.block
									span Earn:
								.block
									span GEM
							.farm__action
								.txt
									span.txt-primary GEM
									span EARNED
								.flex-between-alc
									.block
										h2.txt-disable 0.000
									.block
										button.bt.bt-lg.primary(disable) Harvest
								.txt
									span.txt-primary FiWA - BTC LP
									span STAKED
								.action_buttons
									a.bt.bt-lg.bt-block.secondary(popup-to="defi_wallet_connect_popup" href="javascript:;") Unlock Wallet
						.farm__footer
							.ta-c
								button.bt.bt-see-more
									span See More
									i.fad.fa-angle-down
				.col-xl-4.col-sm-6
					.farm__item
						.farm__header
							.farm__character
								// Radio Image: 64x64
								img(src="./images/character_farm.png", alt="CHARACTER-DEFI")
							.character__information
								h4.character__name FiWA - BTC
								ul
									li.badge.primary
										span 40X
						.farm__body
							.flex-between-alc
								.block
									span APR:
								.block
									i.fas.fa-calculator-alt
									span 59.67%
							.flex-between-alc
								.block
									span Earn:
								.block
									span GEM
							.farm__action
								.txt
									span.txt-primary GEM
									span EARNED
								.flex-between-alc
									.block
										h2.txt-disable 0.000
									.block
										button.bt.bt-lg.primary(disable) Harvest
								.txt
									span.txt-primary FiWA - BTC LP
									span STAKED
								.action_buttons
									button.bt.bt-lg.bt-block.secondary Approve Contract
						.farm__footer
							.ta-c
								button.bt.bt-see-more
									span See More
									i.fad.fa-angle-down
				.col-xl-4.col-sm-6
					.farm__item
						.farm__header
							.farm__character
								img(src="./images/character_farm.png", alt="CHARACTER-DEFI")
							.character__information
								h4.character__name FiWA - BTC
								ul
									li.badge.primary
										span 40X
						.farm__body
							.flex-between-alc
								.block
									span APR:
								.block
									i.fas.fa-calculator-alt
									span 59.67%
							.flex-between-alc
								.block
									span Earn:
								.block
									span GEM
							.farm__action
								.txt
									span.txt-primary GEM
									span EARNED
								.flex-between-alc
									.block
										h2.txt-disable 0.000
									.block
										button.bt.bt-lg.primary(disable) Harvest
								.txt
									span.txt-primary GEM
									span EARNED
								.flex-between-alc
									.block
										h2.txt-disable 0.000
									.block
										button.bt.bt-lg.primary(popup-to="stake_lp_tokens_popup" href="javascript:;") Stake LP
						.farm__footer
							.ta-c
								button.bt.bt-see-more
									span See More
									i.fad.fa-angle-down
				.col-xl-4.col-sm-6
					.farm__item
						.farm__header
							.farm__character
								img(src="./images/character_farm.png", alt="CHARACTER-DEFI")
							.character__information
								h4.character__name FiWA - BTC
								ul
									li.badge.primary
										span 40X
						.farm__body
							.flex-between-alc
								.block
									span APR:
								.block
									i.fas.fa-calculator-alt
									span 59.67%
							.flex-between-alc
								.block
									span Earn:
								.block
									span GEM
							.farm__action
								.txt
									span.txt-primary GEM
									span EARNED
								.flex-between-alc
									.block
										h2 0.058
										small ~0.74 USD
									.block
										button.bt.bt-lg.primary Harvest
								.txt
									span.txt-primary GEM
									span EARNED
								.flex-between-alc
									.block
										h2 1.390
										small ~10.48 USD
									.block
										button.bt-circle.primary
											i.fal.fa-minus
										button.bt-circle.primary
											i.fal.fa-plus
						.farm__footer
							.ta-c
								button.bt.bt-see-more
									span See More
									i.fad.fa-angle-down