extends ../layouts/layout

block var
	- bodyClass = "index-page"
	- pageTitle = "Source Pug Sass Basic"
block css
	link(rel="stylesheet", href="./css/home.css")
block main
	// *** SECTION FARMING *** //
	section.farming
		.container
			.banner
				.banner__container
					.banner_preview
						img(src="./images/character.png", alt="CHARACTER-DEFI")
					.banner__wrap
						h1.banner__title Farms
						p.banner__text Lorem ipsum dolor sit amet consectetur adipisicing elit