extends ../layouts/layout

block var
	- bodyClass = "wallet-asset-page"
	- pageTitle = "Wallet & Asset | Defi x NFT"
block library-css
block css
	link(rel="stylesheet", href="./css/wallet_asset.css")
block library-js
block js
block main
	// *** SECTION BANNER *** //
	include ../components/banner
	// *** SECTION WALLET & ASSET *** //
	section.wallet_asset
		.container
			.row
				.col-lg-6
					.item__wallet
						h4.wallet__name Metamask
						p.wallet__description Connect wallet to mint character
						.wallet__buttons
							a.bt.bt-lg.primary(popup-to="wallet_connect_popup" href="javascript:;") Connect
						.input-group
							input.form-control(type="text" placeholder="Binance Smart Chain Address: bvsbsb1328984tu91dvsd")
							.input-group-append
								button.bt-circle.secondary
									i.fad.fa-copy
								a.bt-circle.secondary(href="#" target="_bank")
									i.fad.fa-external-link
				.col-lg-6
					.item__wallet
						h4.wallet__name Solana
						p.wallet__description 0 FIWA
						.wallet__buttons
							button.bt.bt-lg.primary Refresh
						.input-group
							input.form-control(type="text" placeholder="Solana Chain Address: bvsbsb1328984tu91dvsdsdfsfb12")
							.input-group-append
								button.bt-circle.secondary
									i.fad.fa-copy
								a.bt-circle.secondary(href="#" target="_bank")
									i.fad.fa-external-link
				.col-12
					.wallet_asset_table__wrapper
						h4.wallet_asset_table__title Assets
						.activity__sorting
							.activity__tags
								a.activity__link.active(href="#") Metamask
								a.activity__link(href="#") Solana
						.table-wallet-asset.table-custom-wrapper.secondary-highlight.table-has-background
							table.table-custom
								thead
									tr
										th Name Asset
								tbody
									-for(i=1;i<8;i++)
										tr
											td
												.asset__item
													.asset__logo
														img(src="./icons/weth.svg", alt="WETH")
													.asset__name WETH