extends ../layouts/layout

block var
	- bodyClass = "wallet-asset-page"
	- pageTitle = "Wallet & Asset | Defi x NFT"
block library-css
block css
	link(rel="stylesheet", href="./css/wallet-asset.css")
block library-js
block js
block main
	// *** SECTION BANNER *** //
	include ../components/banner
	// *** SECTION WALLET & ASSET *** //
	section.wallet-asset