section.banner
	.container
		.banner__container
			.banner_preview
				img(src="./images/character_banner.png", alt="CHARACTER-DEFI")
			.banner__wrap
				h1.banner__title Title Banner
				p.banner__text Lorem ipsum, dolor sit amet consectetur adipisicing elit.