#defi_wallet_connect_popup(style="display:none")
	.popup_wrapper
		.popup__header
			h2.popup__title Connect to a wallet
		.popup__body
			ul.list_option_wallet_connect
				li.item_option_wallet_connect
					button.bt.bt-block.bt-lg.neutral-background
						p
							span Metamask
							sup Coming
						img(src="./icons/metamask.svg", alt="Metamask")
				li.item_option_wallet_connect(disable)
					button.bt.bt-block.bt-lg.neutral-background
						p
							span TrustWallet
							sup Coming
						img(src="./icons/trustwallet.svg", alt="TrustWallet")
				li.item_option_wallet_connect(disable)
					button.bt.bt-block.bt-lg.neutral-background
						p
							span MathWallet
							sup Coming
						img(src="./icons/mathwallet.svg", alt="Metamask")
				li.item_option_wallet_connect(disable)
					button.bt.bt-block.bt-lg.neutral-background
						p
							span TokenPocket
							sup Coming
						img(src="./icons/tokenpocket.svg", alt="TokenPocket")
				li.item_option_wallet_connect(disable)
					button.bt.bt-block.bt-lg.neutral-background
						p
							span WalletConnect
							sup Coming
						img(src="./icons/walletconnect.svg", alt="WalletConnect")
				li.item_option_wallet_connect(disable)
					button.bt.bt-block.bt-lg.neutral-background
						p
							span Binance Chain Wallet
							sup Coming
						img(src="./icons/binancechainwallet.svg", alt="BinanceChainWallet")
				li.item_option_wallet_connect(disable)
					button.bt.bt-block.bt-lg.neutral-background
						p
							span SafePal Wallet
							sup Coming
						img(src="./icons/safepalwallet.svg", alt="SafePalWallet")
		.popup__footer.ta-c
			a.support-document(href="https://bap-software.net/vi/" target="_blank" rel="noreferrer noopener")
				i.fad.fa-question-circle
				span Learn how to connect